*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 800px;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
}

.logo {
    vertical-align: middle;
}

.arrow {
    margin-left: 10px;
}

.h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

.checkmark {
    border-radius: 20px;
    border: 1px solid green;
    padding: 5px 5px;
    vertical-align: middle;
    background-color: transparent;
    margin-right: 10px;
}

.x-mark {
    border-radius: 20px;
    border: 1px solid red;
    padding: 5px 5px;
    vertical-align: middle;
    background-color: transparent;
    margin-right: 10px;
}

.tag{
    border-radius: 20px;
    font-size: 15px;
    color: white;
    margin-left: 20px;
    padding: 5px 20px;
    display: inline-block;
    vertical-align: middle;
}

.editorial {
    background-color:  #45abea;
}

#goal {
    background-color: #9c72e4;
}

#recruiting {
    background-color: #5dbda5;
}

#mobile {
    background-color: #f2992a;
}

#website {
    background-color: #d863a1;
}

#sales {
    background-color: #b0c926;
}

header {
    margin-bottom: 3rem;
}

.buttons {
    background-color: white;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 10px;
}

#blue-button {
    background-color: rgb(27, 156, 225);
    color: white;
    border-color: transparent;
}

button {
    margin: 20px;
}

#transparent-button {
    border-color: black;
    margin-top: 10px;
}

.list {
    background-color: white;
    margin-top: 20px;
}

main {
    background-color: white;
    margin: 0 auto;
}

li {
    padding: 0.5rem;
    font-size: 18px;
    background-color: white;
}

h3 {
    margin-top: 1rem;
    font-size: 25px;
    vertical-align: middle;
}