*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9
}

header {
    background-color: white;
}

.h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

header {
    margin-bottom: 3rem;
}

.buttons {
    background-color: white;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 10px;
}

#blue-button {
    background-color: rgb(27, 156, 225);
    color: white;
    border-color: transparent;
}

#transparent-button {
    border-color: black;
}

/* non funziona */
.list {
    background-color: white;
}

.logo {
    vertical-align: middle;
}

main {
    background-color: white;
    margin: 0 auto;
}

li {
    padding: 1rem;
    font-size: 18px;
    background-color: white;
}

/* non prende il colore */
h3 {
    margin-top: 1rem;
    font-size: 25px;
    background-color: #f6f8f9
}